body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    font-family: "Pixelify Sans", sans-serif;
}

.card {
    font-size: 75px;
    text-shadow: 10px 5px 5px rgb(180, 180, 180);
    
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -55%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style:solid double;
    border-color: black;
    border-width: 12px;
    height: 750px;
    padding-bottom: 0px;
    width: 570px;
    border-radius: 20px;
    box-shadow: 10px 10px 7px rgb(110, 110, 110);
    flex-wrap: wrap;
    background-color: white;
    
}

.box {
    font-size: 28px;
    text-shadow: 10px 5px 5px rgb(180, 180, 180);
    display: flex;
    justify-content:left;
    align-items: center;
    border-style:dashed;
    border-color: black;
    border-width: 5px;
    height: 504px;
    padding-bottom: 0px;
    width: 504px;
    flex-wrap: wrap;
    animation: grow .7s ease-in-out forwards;
}

@keyframes grow {
    0% {
        transform: scale(0);
        opacity: 1;
    }
}

.square {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    height: 50px;
    width: 50px;
}

.title {
    margin-bottom: 40px;
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.blinking-cursor2::after {
    height: 3rem; 
    width: 3px; 
    background-color: black; 
    content: ''; 
    display: inline-block; 
    animation: blink 0.8s ease infinite;
    padding-top: 20px
    
}

.mouseover {
    background-color: grey;
}

.card-animation {
    animation: throwCards 0.7s ease-out forwards;
}

@keyframes throwCards {
    0% {
        transform: translateX(-300px) translateY(3000px) rotate(-200deg);
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        
        opacity: 1;
    }
}
