body {
    display: flex;
    justify-content: center;
}

#rectangle {
    width: 580px;
    aspect-ratio: 2/3;
    border: .25rem solid black;
    overflow: hidden;
}

#rectangle > span {
    height: 100%;
    width: 100%;
    border-color: black;
    object-fit: cover;
    
    filter: url(#noise);
}

@keyframes pulse {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.08;
    }
}