body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 220px;
    
}

.gradient-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue;
}

.gradient-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 0);
    animation: blinkred 0.7s ease infinite;
}

@keyframes blinkred {
    0% {opacity: 1}
    50% {opacity: 0.5}
    100% {opacity: 1}

}

#animation-container {
    
    font-size: 28px;
    text-shadow: 10px 5px 5px rgb(180, 180, 180);
    display: flex;
}

.blinking-cursor::after {
    height: 5rem; 
    width: 3px; 
    background-color: black; 
    content: ''; 
    display: inline-block; 
    animation: blink 0.8s ease infinite;
    padding-top: 20px
    
}

@keyframes shaking {
    0% {transform: translateY(0px);}
    25% {transform: translateY(25px);}
    75% {transform: translateY(-25px);}
    100% {transform: translateY(0px);}
}


@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(0px) translateY(-1000px) scale(.01);
    }
    50% {opacity: 0;}
    65% {opacity: 0;}
    100% {opacity: 1;}
}

.fade {
    opacity: 1;
    animation-name: fadeRight;
    animation-duration: 1.7s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

#consent {
    width: 150px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    border-style: ridge;
    border-width: 10px;
    box-shadow: 10px 5px 5px rgba(138, 138, 138, 0.719);
    font-family: "Pixelify Sans";
    font-size: 15px;
    cursor: pointer;
}

.button-infinite {
    animation: buttonInfinite .5s infinite alternate;
}

.button-click {
    animation: buttonClick 0.4s ease-out;
    
}

.button-click2 {
    animation: buttonClick2 .3s ease-out;
    
}

@keyframes buttonInfinite {
    0% {
        transform: scale(.8);
    }
    95% {
        transform: scale(1);
    }

}

@keyframes buttonClick {
    45% {
        transform: scale(.8);
        border-style: inset; 
        background-color: rgb(134, 134, 134); 
        border-width: 5px;
    }
    100% {
        
    }
}

@keyframes buttonClick2 {
    45% {
        transform: scale(.8);
        border-style: inset; 
        background-color: rgb(134, 134, 134); 
        border-width: 5px;
    }
    100% {
        border-color: forestgreen;
        background-color: rgb(236, 248, 236);
    }
}

#short {
    display: flex;
    height: 60px;
    width: 330px;
    text-align: center;
}

#animation-container2 {
    font-size: 28px;
    text-shadow: 10px 5px 5px rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-style:solid double;
    border-color: black;
    border-width: 12px;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 0px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 7px rgb(110, 110, 110);
    
}

.fade2 {
    opacity: 1;
    animation-name: fadeRight2;
    animation-duration: 2s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}



@keyframes fadeRight2 {
    10% {
        transform: rotate(20deg);
    }
    20% {
        opacity: 0;
        transform: translateX(500px) translateY(0px) scale(.4);
    }
    50% {opacity: 0;}
    65% {opacity: 0;}
    100% {opacity: 0;}
}

.filter {
    filter: url(#noise)
}

.glitch {
    text-shadow: 
        5px 0 0 rgba(255,0,0,.75),
        -5px -2.5px 0 rgba(0, 255, 0, 0.75),
        5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite;
}

.glitch1 {
    text-shadow: 
    5px 0 0 rgba(255,0,0,.75),
    -5px -2.5px 0 rgba(0, 255, 0, 0.75),
    5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite, shaking .05s linear infinite;
    animation-delay: .15s
}
.glitch2 {
    text-shadow: 
    5px 0 0 rgba(255,0,0,.75),
    -5px -2.5px 0 rgba(0, 255, 0, 0.75),
    5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite, shaking .15s linear infinite;
    animation-delay: .3s
}
.glitch3 {
    text-shadow: 
    5px 0 0 rgba(255,0,0,.75),
    -5px -2.5px 0 rgba(0, 255, 0, 0.75),
    5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite, shaking .12s linear infinite;
    animation-delay: .45s
}
.glitch4 {
    text-shadow: 
    5px 0 0 rgba(255,0,0,.75),
    -5px -2.5px 0 rgba(0, 255, 0, 0.75),
    5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite, shaking .18s linear infinite;
    animation-delay: .6s
}
.glitch5 {
    text-shadow: 
    5px 0 0 rgba(255,0,0,.75),
    -5px -2.5px 0 rgba(0, 255, 0, 0.75),
    5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite, shaking .07s linear infinite;
    animation-delay: .75s
}
.glitch6 {
    text-shadow: 
    5px 0 0 rgba(255,0,0,.75),
    -5px -2.5px 0 rgba(0, 255, 0, 0.75),
    5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite, translation1 .5s ease-out forwards;
}
.glitch7 {
    text-shadow: 
    5px 0 0 rgba(255,0,0,.75),
    -5px -2.5px 0 rgba(0, 255, 0, 0.75),
    5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite, translation2 .5s ease-out forwards;
}
.glitch8 {
    text-shadow: 
    5px 0 0 rgba(255,0,0,.75),
    -5px -2.5px 0 rgba(0, 255, 0, 0.75),
    5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite, translation3 .5s ease-out forwards;
}
.glitch9 {
    text-shadow: 
    5px 0 0 rgba(255,0,0,.75),
    -5px -2.5px 0 rgba(0, 255, 0, 0.75),
    5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite, translation4 .5s ease-out forwards;
}
.glitch10 {
    text-shadow: 
    5px 0 0 rgba(255,0,0,.75),
    -5px -2.5px 0 rgba(0, 255, 0, 0.75),
    5px 2.5px 0 rgba(0, 0, 255, 0.75);

    animation: glitch 250ms infinite, translation5 .5s ease-out forwards;
}

@keyframes translation1 {
    100% {transform: translateX(-600px) translateY(-200px) scale(1.2)}
}
@keyframes translation2 {
    100% {transform: translateX(-300px) translateY(-250px) scale(1.2)}
}
@keyframes translation3 {
    100% {transform: translateX(0px) translateY(-300px) scale(1.2)}
}
@keyframes translation4 {
    100% {transform: translateX(300px) translateY(-250px) scale(1.2)}
}
@keyframes translation5 {
    100% {transform: translateX(600px) translateY(-200px) scale(1.2)}
}

@keyframes glitch {
    0% {
        text-shadow: 
        5px 2px 0 rgba(255,0,0,.75),
        -5px -2.5px 0 rgba(0, 255, 0, 0.75),
        5px 2.5px 0 rgba(0, 0, 255, 0.75);
    }
    14% {
        text-shadow: 
        2px 0 0 rgba(255,0,0,.75),
        -2px -3.5px 0 rgba(0, 255, 0, 0.75),
        2px 3.5px 0 rgba(0, 0, 255, 0.75);
    }
    21% {
        text-shadow: 
        1px 3px 0 rgba(255,0,0,.75),
        -3px -1.5px 0 rgba(0, 255, 0, 0.75),
        7px 5.5px 0 rgba(0, 0, 255, 0.75);
    }
    30% {
        text-shadow: 
        4px 0 0 rgba(255,0,0,.75),
        -2px -1.5px 0 rgba(0, 255, 0, 0.75),
        3px 1.5px 0 rgba(0, 0, 255, 0.75);
    }
    37% {
        text-shadow: 
        -5px -5px 0 rgba(255,0,0,.75),
        1px 4.5px 0 rgba(0, 255, 0, 0.75),
        -5px -3.5px 0 rgba(0, 0, 255, 0.75);
    }
    45% {
        text-shadow: 
        4px 2px 0 rgba(255,0,0,.75),
        -4px -1.5px 0 rgba(0, 255, 0, 0.75),
        2px 3.5px 0 rgba(0, 0, 255, 0.75);
    }
    53% {
        text-shadow: 
        1px 2 0 rgba(255,0,0,.75),
        -5px -7.5px 0 rgba(0, 255, 0, 0.75),
        4px 2.5px 0 rgba(0, 0, 255, 0.75);
    }
    60% {
        text-shadow: 
        2px 7px 0 rgba(255,0,0,.75),
        -2px -0.5px 0 rgba(0, 255, 0, 0.75),
        0px 1.5px 0 rgba(0, 0, 255, 0.75);
    }
    68% {
        text-shadow: 
        1px 3px 0 rgba(255,0,0,.75),
        2px 1.5px 0 rgba(0, 255, 0, 0.75),
        -3px -1.5px 0 rgba(0, 0, 255, 0.75);
    }
    76% {
        text-shadow: 
        -1px -3px 0 rgba(255,0,0,.75),
        2px 1.5px 0 rgba(0, 255, 0, 0.75),
        3px 1.5px 0 rgba(0, 0, 255, 0.75);
    }
    80% {
        color: rgb(148, 230, 190);
    }
    90% {
        color: blueviolet;
    }

} 

