body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

#animation-container {
    
    font-size: 28px;
    text-shadow: 10px 5px 5px rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.blinking-cursor::after {
    content: '';
    display: inline-block;
    animation: blink 0.7s ease infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translateX(-200px) scale(.85);
    }
    100% {opacity: 1;}
}

.fade {
    opacity: 1;
    animation-name: fadeRight;
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

#consent {
    width: 150px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    border-style: ridge;
    border-width: 10px;
    box-shadow: 10px 5px 5px rgba(138, 138, 138, 0.719);
    font-family: "Pixelify Sans";
    font-size: 15px;
}

#short {
    display: flex;
    height: 60px;
    width: 330px;
    text-align: center;
}

#pic1 {
    
}